html, body{
  height: 100%;
  width: 100%;
  background-color: #222;
}

.content {
  height: 100%;
  width: 100%;
}


/* stage start */
.stage{
  position: relative;
  height: 680px;
  width: 100%;
}
/* stage end */

/* image start */
.img-sec{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #dddddd;
}

/* image end */
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  width: 100%;
  text-align: center;
}

/*  controller start */
/*  controller end */
